@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --font-main: 'Philosopher', sans-serif;
    --font-title: 'Georgia', serif;
    
    --h1: 300 36px/1.2 var(--font-main);
    --h2: 600 26px/1.3 var(--font-title);
}

h1 { font: var(--h1); }
h2 { font: var(--h2); }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-wrapper{
    max-width: 1440px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 20px 125px; 
}

.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 25px;
    text-wrap: nowrap;
}

.header-wrapper .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    gap: 23px;
}
.header-wrapper .logo img{
    width: 45px; 
    height: 45px;
}
.pageslinks{
    max-width: 1440px;
    height: 60px;
    background-color: #FFC7D4;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    position: relative;
}
